# This is the file for Julia tutorials

In [2]:
x = 2
y = 1


if x>y
    println("$x is greater than $y.")
elseif x<y
    println("$x is less than $y.")
else
    println("$x is equal to $y.")
end

2 is greater than 1.

Now we try more compactly commands in Julia.

The trick is to use the structure ? to determine whether the statement is true or false.

In [3]:
x = 2
y = 3

x > y ? println("$x is greater than $y.") : println("$x is less or equal to $y.")

2 is less or equal to 3.

Let us try the while loop.

In [7]:
i = 1

while i <= 10
    println(i)
    i +=1
end

1
2
3
4
5
6
7
8
9
10

In [1]:
i = 1
while true
    println(i)
    if i >=5
        break
    end
    i += 1
end

1
2
3
4
5

Now let us move to for loop.

In [2]:
for i in 1:10
    println(i)
end

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in 5:2:11
    println(i)
end

5
7
9
11

In [6]:
for i in 20:-5:1
    println(i)
end

20
15
10
5

In [8]:
for greekletters in 'α':'ω'
    println(greekletters)
end

α
β
γ
δ
ε
ζ
η
θ
ι
κ
λ
μ
ν
ξ
ο
π
ρ
ς
σ
τ
υ
φ
χ
ψ
ω

In [9]:
d1 = Dict("A"=>1,"B"=>π,"C"=>"doggo")

Dict{String, Any} with 3 entries:
  "B" => π
  "A" => 1
  "C" => "doggo"

In [10]:
for (key,value) in d1
    println("key = $key\t value = $value.")
end

key = B	 value = π.
key = A	 value = 1.
key = C	 value = doggo.

In [11]:
a2 = []
for i in 1:10
    push!(a2,i)
end

a2

10-element Vector{Any}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

Here is the illustration how to manipulate inner and outer loops.

In [12]:
x,y = 5,5
A = fill(0,(x,y))

5×5 Matrix{Int64}:
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0

In [13]:
for i in 1:x
    for j in 1:y
        A[i,j] = i+j
    end
end

In the above coding, j controls inner loop, in this case, from 1 to 5, and i controls outer loop, from 1 to 5 as well.

In [14]:
A

5×5 Matrix{Int64}:
 2  3  4  5   6
 3  4  5  6   7
 4  5  6  7   8
 5  6  7  8   9
 6  7  8  9  10

In computer science, we could also do **syntactic sugar**, which means syntax is designed to make things easier to read or to express. It makes the language "sweeter" for human use.

In [15]:
x,y = 6,6
B = fill(0,(x,y))

for i in 1:x, j in 1:y
    B[i,j] = i + j
end

B

6×6 Matrix{Int64}:
 2  3  4   5   6   7
 3  4  5   6   7   8
 4  5  6   7   8   9
 5  6  7   8   9  10
 6  7  8   9  10  11
 7  8  9  10  11  12

## Here is how to create functions in Julia

In [1]:
function f(x,y)
    x+y
end

f (generic function with 1 method)

In [2]:
x,y = 4,5
f(x,y)

9

In [3]:
# compactly function form
g(x,y) = x + y

g (generic function with 1 method)

In [4]:
g(x,y)

9

### function with control flows

In [6]:
function myconditional(x,y)
    if x > y 
        println("$x ≥ $y.")
    elseif x < y
        println("$x ≤ $y.")
    else
        println("$x = $y.")
    end
end

myconditional (generic function with 1 method)

In [7]:
myconditional(3,2)

3 ≥ 2.

In [8]:
myconditional(π,3.1415926)

π ≥ 3.1415926.

# DataFrames with Julia

In [13]:
using DataFrames,CSV

In [2]:
brand = ["Company A","Company B","Company C"];
tier = ["Premium","Economy","Standard"];
quantity = [10,100,50];
price = [100,10,50];
cost = [30,7,25];

Step 1: create a Data Frame to contain those basic information

In [3]:
df = DataFrame(
    Brand = brand,
    Tier = tier,
    Quantity = quantity,
    Price = price,
    Cost = cost,
)

3×5 DataFrame
 Row │ Brand      Tier      Quantity  Price  Cost
     │ String     String    Int64     Int64  Int64
─────┼─────────────────────────────────────────────
   1 │ Company A  Premium         10    100     30
   2 │ Company B  Economy        100     10      7
   3 │ Company C  Standard        50     50     25

Step 2: calculate revenue, profit, and margin

In [5]:
df.Revenue = df.Quantity.*df.Price;

In [6]:
df.Profit = df.Revenue .- df.Cost;

In [8]:
df.Margin = df.Profit./df.Revenue;

In [9]:
df

3×8 DataFrame
 Row │ Brand      Tier      Quantity  Price  Cost   Revenue  Profit  Margin
     │ String     String    Int64     Int64  Int64  Int64    Int64   Float64
─────┼───────────────────────────────────────────────────────────────────────
   1 │ Company A  Premium         10    100     30     1000     970    0.97
   2 │ Company B  Economy        100     10      7     1000     993    0.993
   3 │ Company C  Standard        50     50     25     2500    2475    0.99

Step 3: calculate total quantity, total revenue, total profit, and total margin

In [10]:
dftotalquantity = sum(df.Quantity)

dftotalrevenue = sum(df.Revenue)

dftotalprofit = sum(df.Profit)

dftotalmargin = dftotalprofit/dftotalrevenue

0.9862222222222222

In [11]:
dftotal = DataFrame(
    Quantity = dftotalquantity,
    Revenue = dftotalrevenue,
    Profit = dftotalprofit,
    Margin = dftotalmargin,
)

1×4 DataFrame
 Row │ Quantity  Revenue  Profit  Margin
     │ Int64     Int64    Int64   Float64
─────┼─────────────────────────────────────
   1 │      160     4500    4438  0.986222

In [14]:
CSV.write("mydf.csv",df)

"mydf.csv"